root = true

[*.cs]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1200.severity = suggestion
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.AD0001.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
